# tModLoader version: "latest" or a release tag such as v2025.01.3.1
TMOD_VERSION=latest
# 1 = check for a newer release on every start (only with TMOD_VERSION=latest)
TMOD_AUTO_UPDATE=1

# Steam Workshop mod IDs, comma separated (downloaded, updated and enabled on start)
TMOD_MODS=

TMOD_SHUTDOWN_MESSAGE=Server is shutting down NOW!
# Minutes between world saves, 0 disables
TMOD_AUTOSAVE_INTERVAL=10

# "Yes" = use a mounted customconfig.txt instead of the settings below
TMOD_USECONFIGFILE=No
TMOD_MOTD=A tModLoader server powered by Docker!
# "N/A" disables the password
TMOD_PASS=docker
TMOD_MAXPLAYERS=8
TMOD_PORT=7777
TMOD_LANGUAGE=en-US
TMOD_SECURE=0
TMOD_NPCSTREAM=60
TMOD_UPNP=0
TMOD_PRIORITY=1

# Only used when the world does not exist yet
TMOD_WORLDNAME=Docker
# 1 = small, 2 = medium, 3 = large
TMOD_WORLDSIZE=3
# 0 = normal, 1 = expert, 2 = master, 3 = journey
TMOD_DIFFICULTY=1
TMOD_WORLDSEED=Docker

# Journey mode permissions (0 = locked, 1 = host, 2 = everyone)
TMOD_JOURNEY_SETFROZEN=0
TMOD_JOURNEY_SETDAWN=0
TMOD_JOURNEY_SETNOON=0
TMOD_JOURNEY_SETDUSK=0
TMOD_JOURNEY_SETMIDNIGHT=0
TMOD_JOURNEY_GODMODE=0
TMOD_JOURNEY_WIND_STRENGTH=0
TMOD_JOURNEY_RAIN_STRENGTH=0
TMOD_JOURNEY_TIME_SPEED=0
TMOD_JOURNEY_RAIN_FROZEN=0
TMOD_JOURNEY_WIND_FROZEN=0
TMOD_JOURNEY_PLACEMENT_RANGE=0
TMOD_JOURNEY_SET_DIFFICULTY=0
TMOD_JOURNEY_BIOME_SPREAD=0
TMOD_JOURNEY_SPAWN_RATE=0
