* text=auto
.gitattributes text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
.dockerignore text eol=lf
.env.example text eol=lf
.gitignore text eol=lf
VERSION text eol=lf
